@using Microsoft.AspNetCore.Identity
@using WissenDandR302EntityLayer.IdentityModels
@inject SignInManager<AppUser> signManager
@inject UserManager<AppUser> usermanager
@{
      var user = usermanager.FindByNameAsync(Context.User.Identity?.Name).Result;

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="~/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">@user.Name @user.Surname</a>
        </div>
     </div>
 
 } 